p,li,small {color:lavender;text-align: justify;}
h1,h2,h3 {color:rgb(255, 233, 162);text-align: justify;}

details > summary {
  padding: 4px;
  width: 160px;
  border: none;
  color: lavender;
  cursor: pointer;
  margin: 10px;
}
div.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding:15px;
  border: none;
  color: whitesmoke;
}
div.gallery {
  margin: 5px;
  border: 1px solid lavender;
  width: 330px;
  background-color: black;
}

div.gallery img {
  width: 330px;
  height: 330px;
}

div.desc {
  padding: 15px;
  text-align: justify;
  color: lavender;
}
a:link, a:visited {
  color: lavender;
  cursor: pointer;
}
body {
  background: royalblue url("Construtionbackgroundagain.png") repeat fixed left top;
  background-size: 100% 100%;
}
