      p,li,ol {color:black;background-color:whitesmoke;text-align: justify;}
      h1,h2,h3 {color:whitesmoke;background-color: black;text-align: justify;}
      details > summary {
        padding: 4px;
        width: 160px;
        background-color: whitesmoke;
        border: none;
        cursor: pointer;
        margin: 10px;
      }
      
      div.flex-container {
      display: flex;
      flex-wrap: wrap;
      padding: 15px;
        border: none;
        color: lightgray;
      }
      div.gallery {
        margin: 5px;
        border: 1px solid whitesmoke;
        width: 330px;
        background-color: whitesmoke;
      }
      
      div.gallery img {
        width: 330px;
        height: 330px;
      }
      
      div.desc {
        padding: 15px;
        text-align: justify;
        color: black;
      }
     a:link, a:visited {
          color: black;
          cursor: pointer;
        }

      body {
          background: gray url("Justabackground.png") repeat fixed left top;
          background-size: 100px 100px;
        }
